header{
 display:flex;
 justify-content: space-between;
 align-content:space-between;
 height:50px;
}
*{
    margin: 0;
}
img{
    height:100px;
    width: 100px;
    padding-left: 20px;
}
select{
    width:90px;
    height:40px;
    background-color:black;
    color:white;
}
 section{
    display:grid;
    justify-content:center;
    align-content:center;
    height: 100vh;
    gap:20px;
    color:white;
    background-position: cover;
    text-align:center;
    
} 
.parent{
    background-image: url(https://cdn.mos.cms.futurecdn.net/rDJegQJaCyGaYysj2g5XWY.jpg);
    background-repeat: no-repeat;
    background-position: cover;
    margin-left: 0px;
    margin:0px;
    height:100vh;
    
}
.div_demo{
    background-color: rgba(0, 0, 0, 0.897);
    background-position: cover;
    margin-left: 0px;
    height:100vh;

}

input{
    height:50px;
    width: 300px;
    background-color: black;
    color:white;
    border:2px;
    border-radius: 5px;
    border-color: white;
}
form>button{
    background-color: red;
    height:50px;
    width: 90px;
    margin:5px;
    border-radius: 10px;

}
header button{
    background-color: red;
    height:40px;
    width: 90px;
    margin:5px;
    border-radius: 10px;
}